<mat-card>
  <mat-card-title>Log In</mat-card-title>
  <mat-card-content>
    <form (submit)="onSubmit()">
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          [(ngModel)]="username"
          name="username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          [(ngModel)]="password"
          name="password"
          required
        />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Log In</button>
    </form>
  </mat-card-content>
</mat-card>
