.spacer {
  flex: 1 1 auto;
}

.signUpButton {
  margin-left: 5px;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.logo {
  font-weight: bold;
  cursor: pointer;
}

.card {
  padding-top: 7%;
  text-align: center;
  margin: auto;
  width: 300px;
}
