<body>
  <mat-toolbar class="navbar">
    <span class="logo">TRACKIT</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/about">About</button>
    <button mat-button (click)="logOut()" routerLink="/home">Sign Out</button>
    <button
      mat-flat-button
      routerLink="/inventory"
      color="primary"
      class="signUpButton"
    >
      My Inventory
    </button>
  </mat-toolbar>

  <div class="inventoryHeading">
    <h1>Your Inventory</h1>
    <p>Click a container to view items or create a new container.</p>
  </div>

  <div class="actionField">
    <button class="newContainerButton" mat-flat-button color="primary" (click)="openDialog()">
      Create new container
    </button>
    <form>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input type="search" matInput placeholder="Ex. iPhone Charger" />
      </mat-form-field>
    </form>
  </div>

  <div class="inventoryGrid">
    <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile *ngFor="let container of containers; index as i">
        <app-container [container]="container" [index]="i"></app-container>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</body>
