.spacer {
  flex: 1 1 auto;
}

.signUpButton {
  margin-left: 5px;
}

.navbar {
  background-color: white;
  cursor: pointer;
}

.logo {
  font-weight: bold;
}

.inventoryHeading {
  text-align: center;
  padding-top: 5%;
}

.inventoryHeading h1 {
  font-weight: 500;
}

.actionField {
  padding-top: 2%;
  justify-content: center;
  display: flex;
}

.actionField button {
  height: 55px;
  margin-right: 20px;
}

app-inv-container {
  width: 90%;
}
