.spacer {
  flex: 1 1 auto;
  background-color: var(--background-color);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
}

.signUpButton {
  background-color: var(--background-color);
  color: var(--text-color);
  margin-left: 5px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--color-of);
  color: var(--text-color);
}

.logo {
  font-weight: bold;
  cursor: pointer;
}

mat-sidenav {
  padding-right: 5%;
  background-color: var(--background-color);
  margin-top: 0;
}

mat-sidenav-content {
  overflow-y: auto;
  background-color: var(--background-color);
  padding-bottom: 2rem;
}

.inventoryHeading {
  text-align: center;
  padding-top: 5%;
  background-color: var(--background-color);
  color: var(--text-color);
}

.inventoryHeading h1 {
  font-weight: 500;
  background-color: var(--background-color);
}

.actionField {
  position: sticky;
  top: 0;
  z-index: 998;
  padding-top: 2%;
  justify-content: center;
  background-color: var(--background-color);
  display: flex;
}

.actionField button {
  height: 55px;
  margin-right: 20px;
  background-color: var(--primary-color);
  width: 20%;
}

app-inv-container {
  width: 90%;
  background-color: var(--background-color);
  color: var(--color-of);
}
