/* Navbar styling */
.navbar {
  background-color: var(--color-of);
  color: var(--text-color);
  cursor: pointer;
  position: fixed; /* Fix the navbar at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it stays above other content */
  height: 64px; /* Adjust height as needed */
  box-sizing: border-box; /* Include padding and border in the height */
}

/* Sidenav content styling */
mat-sidenav-content {
  background-color: var(--background-color);
  color: var(--text-color);
  height: calc(100vh - 64px); /* Adjust height to account for the navbar */
  overflow: auto; /* Allow scrolling within the content */
}

/* Spacer styling */
.spacer {
  background-color: var(--background-color);
  color: var(--text-color);
  flex: 1 1 auto;
}

/* Sign-up button styling */
.signUpButton {
  background-color: var(--background-color);
  color: var(--text-color);
  margin-left: 5px;
}

/* Logo styling */
.logo {
  font-weight: bold;
  background-color: var(--color-of);
  color: var(--text-color);
}

/* Sidenav styling */
mat-sidenav {
  padding-right: 5%;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Sidenav content styling */
mat-sidenav-content {
  background-color: var(--background-color);
  color: var(--text-color);
  height: calc(100vh - 64px); /* Adjust height to account for the navbar */
  overflow: auto; /* Allow scrolling within the content */
}

/* Inventory heading styling */
.inventoryHeading {
  text-align: center;
  padding-top: 5%;
  background-color: var(--background-color);
  color: var(--text-color);
}

.inventoryHeading h1 {
  font-weight: 500;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Action field styling */
.actionField {
  padding-top: 2%;
  justify-content: center;
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
}

.actionField button {
  height: 55px;
  margin-right: 20px;
  background-color: var(--color-of);
  color: var(--text-color);
}

/* Inventory container styling */
app-inv-container {
  width: 90%;
  background-color: var(--background-color);
  color: var(--color-of);
}