.spacer {
  flex: 1 1 auto;
}

.signUpButton {
  margin-left: 5px;
}

/* Navbar styling */
.navbar {
  background-color: var(--color-of);
  color: var(--text-color);
  cursor: pointer;
  position: fixed; /* Fix the navbar at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it stays above other content */
  height: 64px; /* Adjust height as needed */
  box-sizing: border-box; /* Include padding and border in the height */
}

.logo {
  font-weight: bold;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: calc(35px + 0.390625vw);
  line-height: 100%;
  padding-top: 10%;
  max-width: 70%;
}

.description {
  padding-top: 2%;
  text-align: center;
  max-width: 45%;
  margin: 0 auto;
}
