<h1 mat-dialog-title>Add Item</h1>
<div mat-dialog-content>
  <mat-form-field class="nameField">
    <input matInput [(ngModel)]="data.name" placeholder="Name" />
  </mat-form-field>
  <br />
  <mat-form-field class="countField">
    <input matInput [(ngModel)]="data.count" placeholder="Count" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" class="cancelButton">Cancel</button>
  <span class="spacer"></span>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
