<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="containerName">{{ item.ItemName }}</mat-card-title>
    <span class="spacer"></span>
  </mat-card-header>
  <mat-card-content>
    <br />
    <div class="location-container">
      <p class="locationName">Location: {{ locationName }}</p>
      <button mat-icon-button 
              [routerLink]="['/containers', item.LocID]" 
              matTooltip="Go to container"
              class="location-button">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>