.spacer {
  flex: 1 1 auto;
}

.containerName {
    margin-top: 8%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, monospace;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mat-mdc-card {
  background-color: #0b0a13;
  color: white;
  border-radius: 8px;
  /* width: 300px; */
}

.mat-mdc-card-title {
  color: white;
}

.example-card {
  margin: 16px;
  width: 95%;
  /* transform: scale(1.05); */
}

/* Make menu button white */
.mat-mdc-icon-button {
  color: white;
}

.location-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.locationName {
  margin: 0;
}

.location-button {
  transform: scale(0.9);
}