<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="containerName">{{ item.ItemName }}</mat-card-title>
    <span class="spacer"></span>
    <button mat-icon-button (click)="incrementItem(index)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="decrementItem(index)">
      <mat-icon>horizontal_rule</mat-icon>
    </button>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="renameItem(index)">
        <mat-icon>border_color</mat-icon>
        <span>Rename</span>
      </button>
      <button mat-menu-item (click)="updateCount(index)">
        <mat-icon>numbers</mat-icon>
        <span>Update Count</span>
      </button>
      <button mat-menu-item>
        <mat-icon>open_with</mat-icon>
        <span>Move</span>
      </button>
      <button mat-menu-item class="deleteButton" (click)="deleteItem(index)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </mat-card-header>
  <mat-card-content>
    <br />
    <span class="countAmount">Count: {{ item.Count }}</span>
  </mat-card-content>
</mat-card>
