.spacer {
  flex: 1 1 auto;
  background-color: var(--background-color);
}

.signUpButton {
  margin-left: 5px;
}

.navbar {
  background-color: var(--color-of);
  color: var(--text-color);
  cursor: pointer;
}

.logo {
  font-weight: bold;
}

mat-sidenav {
  padding-right: 5%;
  background-color: var(--background-color);
}

mat-sidenav-content {
  height: 100vh;
  background-color: var(--background-color);
}

.inventoryHeading {
  text-align: center;
  color: var(--text-color);
  padding-top: 5%;
}

.inventoryHeading h1 {
  font-weight: 500;
  color: var(--text-color);
}

.noItems {
  text-align: center;
  padding-top: 10%;
  font-weight: 500;
  font-size: large;
  color: var(--text-color);
  background-color: var(--background-color);
}

.actionField {
  padding-top: 2%;
  justify-content: center;
  color: var(--text-color);
  display: flex;
}

.actionField button {
  height: 55px;
  margin-right: 20px;
  color: var(--text-color);
}
