.spacer {
  flex: 1 1 auto;
  background-color: var(--background-color);
}

.inventoryButton {
  margin-left: 5px;
  background-color: var(--background-color);
}

/* Navbar styling */
.navbar {
  background-color: var(--color-of);
  color: var(--text-color);
  cursor: pointer;
  position: fixed; /* Fix the navbar at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure it stays above other content */
  height: 64px; /* Adjust height as needed */
  box-sizing: border-box; /* Include padding and border in the height */
}


.logo {
  font-weight: bold;
  cursor: pointer;
}

mat-sidenav {
  padding-right: 5%;
  background-color: var(--background-color);
}

/* Sidenav content styling */
mat-sidenav-content {
  background-color: var(--background-color);
  color: var(--text-color);
  height: calc(100vh); /* Adjust height to account for the navbar */
  overflow: auto; /* Allow scrolling within the content */
}

.heading {
  text-align: center;
  background-color: var(--background-color);
  padding-top: 5%;
}

.backNav {
  width: 80%;
  margin: 0 auto;
  background-color: var(--background-color);
}

.inventoryHeading h1 {
  font-weight: 500;
  background-color: var(--background-color);
}

.actionField {
  padding-top: 2%;
  justify-content: center;
  background-color: var(--background-color);
  display: flex;
}

.actionField button {
  height: 55px;
  margin-right: 20px;
  background-color: var(--primary-color);
  width: 20%;
}

.renameIcon {
  cursor: pointer;
  background-color: var(--background-color);
}

app-container {
  width: 90%;
  background-color: var(--background-color);
}
