.spacer {
  flex: 1 1 auto;
  background-color: var(--background-color);
}

.inventoryButton {
  margin-left: 5px;
  background-color: var(--background-color);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--color-of);
  color: var(--text-color);
}

.logo {
  font-weight: bold;
  cursor: pointer;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background-color);
}

mat-sidenav {
  padding-right: 5%;
  background-color: var(--background-color);
  margin-top: 0;
}

mat-sidenav-content {
  overflow-y: auto;
  background-color: var(--background-color);
  padding-bottom: 2rem;
}

mat-sidenav-container {
  position: absolute;
  top: 114px; /* navbar (64px) + sidenav-controls height (50px) */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
}

.heading {
  text-align: center;
  background-color: var(--background-color);
  padding-top: 1rem;
}

.sidenav-controls {
  position: fixed;
  top: 64px; /* Height of navbar */
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--background-color);
}

.inventoryHeading h1 {
  font-weight: 500;
  background-color: var(--background-color);
}

.actionField {
  position: sticky;
  top: 0;
  z-index: 998;
  padding-top: 2%;
  justify-content: center;
  background-color: var(--background-color);
  display: flex;
}

.actionField button {
  height: 55px;
  margin-right: 20px;
  background-color: var(--primary-color);
  width: 20%;
}

.renameIcon {
  cursor: pointer;
  background-color: var(--background-color);
}

app-container {
  width: 90%;
  background-color: var(--background-color);
}

@media (max-width: 1024px) {
  .navbar button {
    display: none;
  }

  .sidenav-controls {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .inventoryGrid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .actionField button {
    width: 100%;
  }
}





