/* styles.css */
:root {
    --primary-color: #434383;
    --secondary-color: #ffffff;
    --background-color: #171628;
    --text-color: #f5f5f5;
    --color-of: #0b0a13;
  }
  
  /* [data-theme="light"] {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --background-color: #f5f5f5;
    --text-color: #333333;
  } */
  
  html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }