.spacer {
  flex: 1 1 auto;
}

.inventoryButton {
  margin-left: 5px;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.logo {
  font-weight: bold;
  cursor: pointer;
}

mat-sidenav {
  padding-right: 5%;
}

.heading {
  text-align: center;
  padding-top: 5%;
}

.backNav {
  width: 80%;
  margin: 0 auto;
}

.inventoryHeading h1 {
  font-weight: 500;
}

.actionField {
  padding-top: 2%;
  justify-content: center;
  display: flex;
}

.actionField button {
  height: 55px;
  margin-right: 20px;
  width: 20%;
}

.noResults {
  text-align: center;
  padding-top: 10%;
  font-weight: 500;
  font-size: large;
}

mat-sidenav-content {
  height: 100vh;
}

app-container {
  width: 90%;
}
