<body>
  <mat-toolbar class="navbar">
    <span class="logo" routerLink="/home">TRACKIT</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/about">About</button>
    <button mat-button (click)="logOut()" routerLink="/home">Sign Out</button>
    <button
      mat-flat-button
      routerLink="/inventory"
      color="primary"
      class="signUpButton"
    >
      My Inventory
    </button>
    <button
      mat-icon-button
      [routerLink]="['/recentlyDeleted']"
      matTooltip="Recently deleted items"
    >
      <mat-icon>restore_from_trash</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/settings']" matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side">
      <app-sidebar-nav [invContainers]="[]"></app-sidebar-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="backNav">
        <button
          mat-stroked-button
          color="basic"
          class="backButton"
          (click)="backClicked()"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Back"
            fontIcon="keyboard_arrow_left"
          ></mat-icon>
          Back
        </button>
      </div>

      <div class="heading">
        <h1>Search Results</h1>
      </div>

      <div class="actionField">
        <form (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-label>Search item</mat-label>
            <input
              type="search"
              matInput
              placeholder="Ex. Cereal"
              name="q"
              [(ngModel)]="query"
            />
          </mat-form-field>
        </form>
      </div>

      <div *ngIf="results.length == 0" class="noResults">
        No results for "{{ queryValue }}".
      </div>

      <div class="inventoryGrid">
        <mat-grid-list cols="4" rowHeight="1:1">
          <mat-grid-tile *ngFor="let item of results; index as i">
            <app-search-item [item]="item" [index]="i"></app-search-item>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
