<body>
  <mat-toolbar class="navbar">
    <span routerLink="/home" class="logo">TRACKIT</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/about">About</button>
    <button mat-button (click)="logOut()" routerLink="/home">Sign Out</button>
    <button
      mat-flat-button
      routerLink="/inventory"
      color="primary"
      class="inventoryButton"
    >
      My Inventory
    </button>
  </mat-toolbar>

  <div class="backNav">
    <button
      mat-stroked-button
      color="basic"
      class="backButton"
      (click)="backClicked()"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Back"
        fontIcon="keyboard_arrow_left"
      ></mat-icon>
      Back
    </button>
  </div>

  <!-- TODO: Add rename option -->
  <div class="heading">
    <h1>Search Results</h1>
  </div>

  <div class="actionField">
    <form (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Search item</mat-label>
        <input
          type="search"
          matInput
          placeholder="Ex. Cereal"
          name="q"
          [(ngModel)]="query"
        />
      </mat-form-field>
    </form>
  </div>

  <div *ngIf="results.length == 0" class="noResults">
    No results for "{{ query }}".
  </div>

  <div class="inventoryGrid">
    <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile *ngFor="let item of results; index as i">
        <app-search-item [item]="item" [index]="i"></app-search-item>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</body>
