<div *ngIf="loggedIn(); then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <mat-toolbar class="navbar">
    <span class="logo" routerLink="/home">TRACKIT</span>
    <span class="spacer"></span>
    <button mat-button color="primary" routerLink="/about" style="color: white;">About</button>
    <button mat-button (click)="logOut()" routerLink="/home" style="color: white;">Sign Out</button>
    <button
      mat-flat-button
      routerLink="/inventory"
      color="primary"
      class="signUpButton"
    >
      My Inventory
    </button>
    <button
      mat-icon-button
      [routerLink]="['/recentlyDeleted']"
      matTooltip="Recently deleted items"
    >
      <mat-icon>restore_from_trash</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/settings']" matTooltip="Settings">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
</ng-template>
<ng-template #elseBlock>
  <mat-toolbar class="navbar">
    <span class="logo" routerLink="/home">TRACKIT</span>
    <span class="spacer"></span>
    <button mat-button color="primary" routerLink="/about" style="color: white;">About</button>
    <button mat-button color="primary" routerLink="/login" style="color: white;">Login</button>
    <button
      mat-flat-button
      routerLink="/signup"
      color="primary"
      class="signUpButton"
    >
      Sign Up
    </button>
  </mat-toolbar>
</ng-template>

<div class="content">
  <h1 class="homeTitle">Find your charger in seconds.</h1>
</div>
<div class="content">
  <p class="description">
    Stay organized and in control with our personal inventory tracker. Create
    virtual furniture, add containers and store your belongings with ease. Find
    what you need, fast, with intuitive search features and item categorization.
  </p>
</div>

<div class="content">
  <button
    mat-flat-button
    routerLink="/signup"
    color="primary"
    class="centerButton"
  >
    Get Started
  </button>
</div>
