<div *ngIf="loggedIn(); then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <mat-toolbar class="navbar">
    <span class="logo">TRACKIT</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/about">About</button>
    <button mat-button (click)="logOut()" routerLink="/home">Sign Out</button>
    <button
      mat-flat-button
      routerLink="/inventory"
      color="primary"
      class="signUpButton"
    >
      My Inventory
    </button>
  </mat-toolbar>
</ng-template>
<ng-template #elseBlock>
  <mat-toolbar class="navbar">
    <span class="logo" routerLink="/home">TRACKIT</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/login">Login</button>
    <button
      mat-flat-button
      routerLink="/signup"
      color="primary"
      class="signUpButton"
    >
      Sign Up
    </button>
  </mat-toolbar>
</ng-template>

<div class="content">
  <h1 class="homeTitle">Find your charger in seconds.</h1>
</div>
<div class="content">
  <p class="description">
    Stay organized and in control with our personal inventory tracker. Create
    virtual furniture, add containers and store your belongings with ease. Find
    what you need, fast, with intuitive search features and item categorization.
  </p>
</div>

<div class="content">
  <button
    mat-flat-button
    routerLink="/signup"
    color="primary"
    class="centerButton"
  >
    Get Started
  </button>
</div>
