.spacer {
  flex: 1 1 auto;
  background-color: var(--background-color);
  color: var(--text-color);
}

.signUpButton {
  background-color: var(--background-color);
  color: var(--text-color);
  margin-left: 5px;
}

.navbar {
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
}

.logo {
  font-weight: bold;
}

mat-sidenav {
  background-color: var(--background-color);
  color: var(--text-color);
  padding-right: 5%;
}

mat-sidenav-content {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
}

.inventoryHeading {
  text-align: center;
  padding-top: 5%;
}

.inventoryHeading h1 {
  font-weight: 500;
}

.noItems {
  text-align: center;
  padding-top: 10%;
  font-weight: 500;
  font-size: large;
}

.actionField {
  padding-top: 2%;
  justify-content: center;
  display: flex;
}

.actionField button {
  height: 55px;
  margin-right: 20px;
}

.settings-card {
  max-width: 700px;
  margin: 0 auto;
  font-weight: 500;
  background-color: var(--background-color);
  color: var(--text-color);
}

.deleteTitle {
  display: inline-block;
  vertical-align: middle;
  line-height: 40px;
  font-size: medium;
}

.deleteButton {
  float: right;
  background-color: var(--background-color);
  color: var(--text-color);
}
